models/src/bids_pydantic_models/**
!models/src/bids_pydantic_models/__init__.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
static-media
*flymake*
.sass-cache

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/
env/

#Pycharm project settings
.idea/*

# Temporary files
*.*~
*~

# Coverage
coverage_html_report

#Visual Studio Code
.vscode/

#Output
output/

# vim config
.vim/
